* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    height: 90vw;
}

.container .panel:nth-child(1) {
    background-image: url('../images/pexels-eugenia-remark-5767088-30056440.jpg');
}
.container .panel:nth-child(2) {
    background-image: url('../images/pexels-frank-castaneda-pena-1139601589-20891103.jpg');
}
.container .panel:nth-child(3) {
    background-image: url('../images/pexels-hoang-b-u-2062876836-30063887.jpg');
}
.container .panel:nth-child(4) {
    background-image: url('../images/pexels-janis-dzenis-2148060180-30089615.jpg');
}
.container .panel:nth-child(5) {
    background-image: url('../images/pexels-marina-zvada-844583049-29622155.jpg');
}
.container .panel:nth-child(5) {
    background-image: url('../images/pexels-raymond-petrik-1448389535-30232145.jpg');
}



